<template>
  <v-app-bar app dark class="fc-title-bar">
    <fc-branding></fc-branding>
    <fc-nav-links></fc-nav-links>
    <fc-quote-board></fc-quote-board>
    <v-spacer></v-spacer>
    <fc-social-links></fc-social-links>
  </v-app-bar>
</template>

<script lang="ts" src="./GlobalNavigation.ts"></script>

<style lang="scss">
.fc-title-bar {
  background-color: #1e2023 !important;
}
</style>
