<template>
  <div>
    <v-btn text>
      <span class="fc-nav-item">Home</span>
    </v-btn>
    <v-btn text>
      <span class="fc-nav-item">About</span>
    </v-btn>
    <v-btn text>
      <span class="fc-nav-item">Events</span>
    </v-btn>
    <v-btn text>
      <span class="fc-nav-item">Roster</span>
    </v-btn>
  </div>
</template>

<script lang="ts" src="./NavigationLinks.ts"></script>

<style lang="scss">
.fc-nav-item {
  font-size: 1.2rem;
}
</style>
