<template>
  <div class="d-flex align-center">
    <h1 class="fc-branding">Fight Club</h1>
  </div>
</template>

<script lang="ts" src="./Branding.ts"></script>

<style lang="scss">
.fc-branding {
  font-size: 2.5rem;
  margin-right: 1.6rem;
}
</style>
