<template>
  <span id="fc-qb-message">{{ this.generateQuote(this.generatedQuote) }}</span>
</template>

<script lang="ts" src="./QuoteBoard.ts"></script>

<style lang="scss">
#fc-qb-message {
  margin: 0 3rem;
  font-size: 1.2rem;
  font-style: italic;
  color: grey;
}
</style>
