<template>
  <div class="fc-sc-container">
    <v-btn v-if="isStreaming" text class="neon">
      LIVE
    </v-btn>
    <v-tooltip v-if="isOnAir" bottom>
      <template v-slot:activator="{ on }">
        <v-btn icon v-on="on">
          <v-icon>fas fa-compact-disc</v-icon>
        </v-btn>
      </template>
      <span>Stream is currently offline.</span>
    </v-tooltip>
    <v-btn
      v-if="hasRaiderIoEnabled"
      icon
      target="_blank"
      href="https://raider.io/guilds/us/wyrmrest-accord/Fight%20Club"
    >
      <img
        src="../../../assets/raiderio_icon.png"
        style="height: 16px; width: 16px;"
      />
    </v-btn>
    <v-btn
      v-if="hasDiscordEnabled"
      icon
      target="_blank"
      href="https://discord.gg/fight-club"
    >
      <v-icon small>fab fa-discord</v-icon>
    </v-btn>
  </div>
</template>

<script lang="ts" src="./SocialLinks.ts"></script>

<style lang="scss">
@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

.neon {
  margin-right: 1.2rem;
  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;

  font-size: 13rem;
  font-weight: 200;
  font-style: normal;
  color: #fff;
  padding: 4rem 6rem 5.5rem;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 2.5s infinite alternate;
}

.neon::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.neon::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.neon:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
      0 0 1rem var(--neon-border-color), inset 0 0 1rem var(--neon-border-color),
      0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}
</style>
