<template>
  <div class="home-container">
    <div class="home-background"></div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {}
};
</script>

<style lang="scss">
.home-container {
  width: 100%;
  height: calc(100vh - 6.4rem);
  overflow-y: hidden;
}
.home-background {
  background-image: url("../assets/background.jpg");
  width: 100%;
  height: 100%;
  background-color: #18191c;
  background-size: cover;
  filter: brightness(50%);
}
.home-text {
  top: 50%;
  left: 50%;
  position: absolute;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
