<template>
  <v-app>
    <fc-global-navigation></fc-global-navigation>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import GlobalNavigation from "@/components/GlobalNavigation/GlobalNavigation.vue";

export default Vue.extend({
  name: "App",

  components: {
    // eslint-disable-next-line vue/no-unused-components
    GlobalNavigation
  },

  data: () => ({
    //
  })
});
</script>

<style lang="scss">
:root {
  /* Base font size */
  font-size: 10px;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.8rem;
}
</style>
